#ddev-generated
services:
  web:
    image: ${DDEV_WEBIMAGE}-${DDEV_SITENAME}-built
    build:
      args:
        FRANKENPHP_DEBIAN_CODENAME: ${FRANKENPHP_DEBIAN_CODENAME:-bookworm}
        FRANKENPHP_DEFAULT_EXTENSIONS: ${FRANKENPHP_DEFAULT_EXTENSIONS-gd pdo_mysql pdo_pgsql xdebug xhprof zip}
        FRANKENPHP_CUSTOM_EXTENSIONS: ${FRANKENPHP_CUSTOM_EXTENSIONS:-}
    environment:
      - SERVER_NAME=:80
      - SERVER_ROOT=${DDEV_DOCROOT:-.}
